<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hasil Prediksi Support Vector Regresi</title>
  </head>
  <body>
    <h1>202002145 - Wahyu Isnaeni</h1>
    <h1>-------------------------------------Hasil Prediksi-------------------------------------</h1>
    <h3>Hasil Evaluasi Support Vector Regresi dengan Koefesien Determinasi R-squared: {{ prediksi.koefisien }}</h3>
    <h4>Data uji: {{ prediksi.data_uji }}</h4>
    <h4>Coefisien: {{ prediksi.k_input }}</h4>
    <h4>Luas Tanah: {{ prediksi.luas_tanah}}</h4>
    <h4>Luas Bangunan: {{ prediksi.luas_bangunan }}</h4>
    <h4>Jarak Pusat ke Kota: {{ prediksi.jarak_ke_kota }}</h4>
    <h4>Usia Bangunan: {{ prediksi.usia_bangunan}}</h4>
    <h3>Prediksi Harga: {{ prediksi.harga }} Juta</h43>
  </body>
</html>