<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>202002145 - Wahyu Isnaeni</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
      Masukkan Data uji (%): <input type="text" name="data_uji"><br>
      Masukkan Coefisien : <input type="text" name="coef0" required> <br>
      Masukkan Luas Tanah (m2): <input type="text" name="m2" required><br>
      Masukkan Luas Bangunan (M2): <input type="text" name="M2" required><br>
      Masukkan Jarak Pusat Ke Kota (km): <input type="text" name="km" required><br>
      Masukkan Usia Bangunan (tahun): <input type="text" name="tahun" required><br>
      <button type="submit">Prediksi</button>
    </form>
  </body>
</html>